name: Maven Build

on:
  pull_request:
    paths:
      - 'athena-s3vector-connector/**'
  push:
    branches:
      - main
    paths:
      - 'athena-s3vector-connector/**'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: us-west-2
      AWS_DEFAULT_REGION: us-west-2
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build with Maven
        run: mvn install
        working-directory: athena-s3vector-connector
